<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login de usuarios</title>
        <!--Ésta es una etiqueta <meta> que especifica cómo el texto será presentado en pantalla-->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!--Etiqueta de enlace con los estilos <link>-->
        <link href="../assets/css/styleLogin.css" rel="stylesheet" />
        <link href="../assets/css/style.css" rel="stylesheet"/>
      
</head>
<body>
    <form name="tablalogin" id="tablalogin" class="tablalogin"> 
    <div name =tablalogin id="tabla de login" class="tablalogin">
        <table name="tabladelogin" id="tabladelogin" class="tablalogin">
            <tr style="text-align: center;">
                <td>
                    <input type="text" values="" placeholder="Poner Nombre" id="tabla longin" name="tabla Nombre"required>
                </td>
            </tr>
            <tr style="text-align: center;">
                <td>
                    <input type="text" value="" placeholder="tabla contraseña" id="tabla contraseña" name="tabla contraseña">

                </td>
            </tr>
            <tr style="text-align: center;">
                <td>
                    <input type="submit" value="enter" id="enter" class="enter" required>

                </td>
            </tr>
        </table>
    </form>
    </div>
    
</body>
</html>